:root{
  --primary-color: #3C8FF5;
  --secondary-color: #FFC857;
  --font: roboto;
}


#page{
  margin:0px;
  padding:0px;
}

/* Add styles for the left-aligned strip */


  #search-panel-interior{
    background: black;
    width: 280px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    margin-right: auto;
    display:flex;
  }

  #search-header{
    background:var(--secondary-color);
  }

  
  /* Add styles for the main content when the left-aligned strip is visible */
  #main-background-interior{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
     -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
         transition: all 1s ease-out;
    margin-top: 0px;
    background: white;
  }

  #main-content{
    padding-left:50px;
    padding-right:50px;
    background-color:white;;
  }

  #main-content-headers{
    background-color:skyblue;
    margin:0px;
  }

  /*Add styles for the form content */


  .select-placeholder{
    color:#A9A9A9;
}

/*Add styles for the search cards*/

.search-card{
  background:lightgrey;
  margin: 10px;
}