:root{
    --lighter-blue: #3C8FF5;
    --blue: #1C75BC;
    --dark-blue: #0B5A9C;
    --yellow: #F6BE00; 
    --font: "Poppins";
    --gray: #808285;
    --blue-dark-gray: #3f3f4e;
    --dark-gray: #333133;
    --darker-gray: #232023;
    --lightgray: #939598;
    --lighter-lightgray: #E9E9E9;

  }


#page{
    margin:20px;
    width:calc(100% - 40px);
    height:calc(100% - 40px);
    background-color:none;
}


#header{
    background: none;
}

#homepage-link{
    font-size:25px;
    color:black;
}

.main-content-boundary{
    height: auto;
}

#fyh-logo{
    height:100px;
    width:300px;
}

.logo-boundary{
    width: 150px;
}


